{% extends 'base.html.twig' %}
{% block title %}Program #{{ program.id }}{% endblock %}
{% block body %}
    <div class="container-fluid ml-2">
        <div class="media">
            <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
            <div class="media-body">
                <h1 class="mt-0">{{ program.title }}</h1>
                <p class="w-75">{{ program.synopsis }}</p>
                <p>Category : {{ program.category.name }}</p>
                <p>Saison disponible : </p>
                <ul>
                    {% for season in program.seasons %}
                    <li>
                        <a href="{{ path("program_showSeason", { program: program.id , season: season.id }) }}">
                            Saison {{ season.number }}
                        </a>
                        <p>{{ season.description }}</p>
                    {% else %}
                        <p>Il n'y a pas d'épisode</p>
                    {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="media">
                <strong>Acteurs :</strong>
                <ul>
                    {% for actor in program.actors %}
                        <li>{{ actor.name }} </li>
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <a class="btn btn-dark m-2" href="{{ path('program_index') }}">Retour a la liste des séries</a>
    </div>
{% endblock %}
