<div class="fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary spacenav">
        <a class="navbar-brand d-none d-lg-block" href="{{ path('app_index') }}">Wild Series</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle text-secondary" href="{{ path('app_index', {'_locale': 'fr'}) }}"
                       id="translateDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><span class="flag-icon flag-icon-fr"> </span>{{ 'Catégories'|trans }}</a>
                    <div class="dropdown-menu" aria-labelledby="translateDropdown">
                        {{ render(controller('App\\Controller\\DefaultController::navbarTop')) }}
                    </div>
                </li>
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link text-light" href="{{ path('program_index') }}">{{'Séries'|trans}}</a>
                </li>
                {% if app.user %}
                <li class="nav-item mr-5 text-light pt-2">
                    {{ app.user.email }}
                    <a style="color: white" href="{{ path('app_logout') }}">{{ 'account.logout'|trans }}</a>
                </li>
                    {% else %}
                <li class="nav-item mr-5 text-light pt-2">
                    <a style="color: white" href="{{ path('app_login') }}">{{ 'account.sign_in'|trans }}</a>
                </li>
                <li class="nav-item mr-5 text-light pt-2">
                    <a style="color: white" href="{{ path('app_register') }}">{{ 'account.register'|trans }}</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-secondary" href="{{ path('app_index', {'_locale': 'fr'}) }}"
                       id="translateDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><span class="flag-icon flag-icon-fr"> </span>{{ 'language'|trans }}</a>
                    <div class="dropdown-menu" aria-labelledby="translateDropdown">
                        <a class="dropdown-item" href="{{ path('app_index', {'_locale':'fr'}) }}">
                            <span class="flag-icon flag-icon-fr"> </span>Français</a>
                        <a class="dropdown-item" href="{{ path('app_index', {'_locale':'en'}) }}">
                            <span class="flag-icon flag-icon-en"> </span>English</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
