{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{'welcome'|trans}}</h1>
    {% if app.user %}
        <ul>
            <li>
                <a href="{{ path('episode_new') }}">{{"Ajouté un nouvelle épisode"|trans}}</a>
            </li>
            <li>
                <a href="{{ path('program_new') }}">{{"Ajouté un nouvelle série"|trans}}</a>
            </li>
            <li>
                <a href="{{ ('season_new') }}">{{"Ajouté un nouvelle saison"|trans}}</a>
            </li>
            <li>
                <a href="{{ path('actor_index') }}">Ajouté une nouvelle acteur</a>
            </li>
        </ul>

    {% else %}
    {% endif %}
{% endblock %}
